.sz-steps, .sz-steps *,
.sz-steps *:before,
.sz-steps *:after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.sz-steps {
	font-size:0;
}

.sz-steps-item {
	display: inline-block;
    position: relative;
    vertical-align: top;
}

.sz-steps-vertical .sz-steps-item {
    display: block;
}

.sz-steps-item:last-child .sz-steps-tail {
    display: none;
}

.sz-steps .sz-steps-tail {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 13px;
}

.sz-steps-vertical .sz-steps-tail {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px;
}

.sz-steps .sz-steps-tail>i {
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: top;
    background: #e8eaec;
    border-radius: 1px;
    position: relative;
}

.sz-steps-item.sz-steps-status-process .sz-steps-tail>i {
    background-color: #e8eaec;
}
.sz-steps-item.sz-steps-status-wait .sz-steps-tail>i {
    background-color: #e8eaec;
}
.sz-steps-item.sz-steps-status-error .sz-steps-tail>i {
    background-color: #e8eaec;
}

.sz-steps-vertical .sz-steps-tail>i {
    height: 100%;
    width: 1px;
}

.sz-steps .sz-steps-tail>i:after {
    content: "";
    width: 0;
    height: 100%;
    background: #e8eaec;
    opacity: 0;
    position: absolute;
    top: 0;
}

.sz-steps-vertical .sz-steps-tail>i:after {
    height: 0;
    width: 100%;
}

.sz-steps-vertical .sz-steps-status-finish .sz-steps-tail>i:after {
    height: 100%;
}
.sz-steps-item.sz-steps-status-finish .sz-steps-tail>i:after {
    width: 100%;
    background: #2d8cf0;
    transition: all .2s ease-in-out;
    opacity: 1;
}

.sz-steps .sz-steps-head {
    background: #fff;
}

.sz-steps-horizontal .sz-steps-item:not(:first-child) .sz-steps-head {
    padding-left: 10px;
    margin-left: -10px;
}

.sz-steps-vertical .sz-steps-head {
    float: left;
}

.sz-steps .sz-steps-main {
    margin-top: 2.5px;
    display: inline;
}

.sz-steps .sz-steps-head, 
.sz-steps .sz-steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.sz-steps-vertical .sz-steps-main {
    height: 100px;
    overflow: hidden;
    display: block;
}

.sz-steps-vertical.sz-steps-length-long .sz-steps-main {
    height:200px;
}

.sz-steps-vertical.sz-steps-length-short .sz-steps-main {
    height:50px;
}

.sz-steps-horizontal .sz-steps-main {
	width:150px;
}

.sz-steps-horizontal.sz-steps-length-long .sz-steps-main {
    width:200px;
}

.sz-steps-horizontal.sz-steps-length-short .sz-steps-main {
    width:100px;
}

.sz-steps .sz-steps-head-inner {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 14px;
    transition: background-color .2s ease-in-out;
    position: relative;
}

.sz-steps-vertical .sz-steps-head-inner {
    margin-right: 16px;
}

.sz-steps-item.sz-steps-status-process .sz-steps-head-inner {
    border-color: #2d8cf0;
    background-color: #2d8cf0;
}
.sz-steps-item.sz-steps-status-wait .sz-steps-head-inner {
    background-color: #fff;
}
.sz-steps-item.sz-steps-status-finish .sz-steps-head-inner {
    background-color: #fff;
    border-color: #2d8cf0;
}

.sz-steps-item.sz-steps-status-error .sz-steps-head-inner {
    background-color: #fff;
    border-color: #ed4014;
}

.sz-steps-item.sz-steps-status-process .sz-steps-head-inner>.sz-steps-icon,
.sz-steps-item.sz-steps-status-process .sz-steps-head-inner span {
    color: #fff;
}

.sz-steps-item.sz-steps-status-wait .sz-steps-head-inner>.sz-steps-icon,
.sz-steps-item.sz-steps-status-wait .sz-steps-head-inner span {
    color: #ccc;
}

.sz-steps-item.sz-steps-status-error .sz-steps-head-inner>.sz-steps-icon,
.sz-steps-item.sz-steps-status-error .sz-steps-head-inner span {
    color: #ed4014;
}

.sz-steps-item.sz-steps-status-finish .sz-steps-head-inner span,
.sz-steps-item.sz-steps-status-finish .sz-steps-head-inner>.sz-steps-icon {
    color: #2d8cf0;
}

.sz-steps-item.sz-steps-status-error .sz-steps-head-inner:before {
    content: '';
    background: url('../image/sz-step-icon-error.png') no-repeat;
    background-color: white;
    width:15px;
    height: 15px;
    left:5px;
    top:5px;
    position: absolute;
}

.sz-steps-item.sz-steps-status-finish .sz-steps-head-inner:before {
    content: '';
    background: url('../image/sz-step-icon-finish.png') no-repeat;
    background-color: white;
    width:15px;
    height: 15px;
    left:5px;
    top:5px;
    position: absolute;
}

.sz-steps .sz-steps-title {
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
    background: #fff;
}

.sz-steps .sz-steps-content {
    font-size: 12px;
    color: #999;
}

.sz-steps-vertical .sz-steps-main .sz-steps-title {
    line-height: 26px;
}

.sz-steps-vertical .sz-steps-main .sz-steps-content {
    padding-bottom: 12px;
    padding-left: 0;
}

.sz-steps-item.sz-steps-status-finish .sz-steps-content, 
.sz-steps-item.sz-steps-status-finish .sz-steps-title {
    color: #999;
}

.sz-steps-item.sz-steps-status-process .sz-steps-content,
.sz-steps-item.sz-steps-status-process .sz-steps-title {
    color: #666;
}

.sz-steps-item.sz-steps-status-wait .sz-steps-content,
.sz-steps-item.sz-steps-status-wait .sz-steps-title {
    color: #999;
}

.sz-steps-item.sz-steps-status-error .sz-steps-content,
.sz-steps-item.sz-steps-status-error .sz-steps-title {
    color: #ed4014;
}
